* {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  html {
    width: 100%;
    height: 100%;    
  }

  body {
    background-image: url('../IMAGENS/bg.png');
    background-repeat: no-repeat;
    background-size: cover !important;
    width: 100%;
    height: 100%;    
  }

  body#pg-index {
    background-image: url('../IMAGENS/inicio\ 2.png');
    background-position: 10%;
  }

  body#pg-win_game {
    background-image: url('../IMAGENS/you_win.png');
    background-position-y: 69%;
  }
 
  body#pg-game_over {
    background-image: url('../IMAGENS/game_over.png');
    background-position: 10%;
  }

  #lnk-reiniciar {
    position: absolute;
    left:50%;
    margin-left: -97px;
    bottom: 3%;
    color: #f8d92c;
    font-size: 45px;
    text-decoration: none;
  }

  #lnk-reiniciar.win_game {
    bottom: 11%;
  }

  #lnk-reiniciar:hover {
    color: #f00;
    transition: all 1.5s ease-out;
    }

  .btn-container {
    display: inline-block;
    position: absolute;
    left: 43%;
    bottom: 55px;
  }

  .btn-container select, .btn-container a {
    font-size: 40px;
    padding: 10px;  
  }

  .btn-container a:hover {
    color: #f00;
    transition: all 1.5s ease-out;
  }

  .mosq01 {
    width: 50px;
    height: 50px;
    }
  
  .mosq02 {
    width: 70px;
    height: 70px;
    }
  
  .mosq03 {
    width: 90px;
    height: 90px;
    }

  .ladoA{
    transform: scaleX(1);
  }

  .ladoB{
    transform: scaleX(-1);
  }
  
  .painel {
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    opacity: 0.7;
    border-radius: 0px 16px 0px 0px;
    border-top: solid 1px #fff;
  }
  
  .vidas {
    float: left;
  }
  
  .cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
  }
  